* {
  box-sizing: border-box; }

body, html {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: white;
  line-height: 1;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track-piece {
  background-color: #ccc;
  -webkit-border-radius: 3px; }

::-webkit-scrollbar-thumb:horizontal {
  background-color: #999;
  -webkit-border-radius: 3px; }

::-webkit-scrollbar-thumb:vertical {
  background-color: #999;
  -webkit-border-radius: 3px; }

::-webkit-scrollbar-button:horizontal:increment {
  background-color: transparent; }

::-webkit-scrollbar-button:vertical:increment {
  background-color: transparent; }

.container {
  width: 1167px;
  margin: 0 auto; }

.content {
  display: flex;
  float: right;
  z-index: 200;
  transition: transform 0.3s; }
  .content__wrapper {
    display: flex;
    position: relative; }
  .content_hidden-event {
    transform: translateX(600px); }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  min-height: 100vh;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: #293b5a; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.menu {
  width: 200px;
  height: 100vh;
  background: #090D15;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0; }
  .menu__links {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px 0;
    letter-spacing: 1px; }
  .menu__link {
    text-decoration: none;
    color: white;
    display: block;
    padding: 13px 15px;
    transition: background 0.3s ease; }
    .menu__link:hover {
      background: #0e1420; }
      .menu__link:hover .menu__icon {
        color: #F04A32; }
  .menu__icon {
    color: #262B36;
    margin-right: 6px;
    font-size: 15px;
    transition: color 0.3s ease; }

.sidebar {
  width: 270px;
  background: #121925;
  height: 100vh;
  padding-top: 30px;
  position: relative;
  z-index: 3;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s; }
  .sidebar__span {
    display: block;
    text-transform: uppercase;
    color: #44546c;
    font-weight: 700;
    font-size: 13px;
    line-height: 28px; }
  .sidebar__footer {
    background: #0f151f;
    padding: 27px 0 22px; }
  .sidebar__button {
    margin-top: 25px; }
  .sidebar__container {
    padding: 0 22px; }
    .sidebar__container_list {
      display: flex;
      align-items: center; }
    .sidebar__container_relative {
      position: relative; }
    .sidebar__container_smaller {
      padding: 0 15px; }
  .sidebar__text {
    display: inline-block;
    margin-top: 5px; }
  .sidebar__opened {
    transform: translateX(-200px); }

.logo {
  font-size: 13px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 12px;
  display: inline-block;
  letter-spacing: 1px; }

.menu-button {
  position: absolute;
  font-size: 14px;
  top: -5px;
  right: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.3s ease; }
  .menu-button:hover {
    opacity: 0.7; }
  .menu-button_opened {
    background: #090d15;
    color: #249def; }

.search {
  margin-top: 40px;
  position: relative; }
  .search__input {
    background: transparent;
    border: none;
    font-size: 14px;
    padding-right: 20px;
    height: 35px;
    color: white;
    width: 100%;
    border-bottom: 1px solid #249def; }
    .search__input:focus {
      outline: none; }
    .search__input::placeholder {
      color: #2b374b; }
  .search__icon {
    position: absolute;
    top: 40px;
    right: 15px;
    color: #2b374b;
    font-size: 14px; }

.popular {
  margin-top: 32px;
  color: white;
  font-size: 14px; }
  .popular__list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0; }
  .popular__item {
    padding: 12px 0;
    cursor: pointer; }
    .popular__item:nth-child(odd) {
      background-color: #0f151f; }
    .popular__item:hover .popular__place {
      background: #F04A31; }
  .popular__place {
    color: white;
    font-size: 10px;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    background-color: rgba(9, 13, 21, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: background 0.3s ease;
    border-radius: 2px; }

.button {
  color: white;
  border: 2px solid #227dbb;
  background: transparent;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding: 0 17px;
  letter-spacing: 1px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out; }
  .button:hover {
    opacity: 0.7; }
  .button_filled {
    background: #249def;
    border: none; }

.map {
  position: absolute !important;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; }
  .map__logo {
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 22px;
    color: #090d15;
    border-color: #090d15;
    cursor: pointer;
    transition: all 0.2s;
    padding: 2px 9px; }
    .map__logo:hover {
      background: #090d15;
      color: #F34927; }

.join {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(13, 23, 41, 0.9);
  z-index: 1000; }
  .join_hidden {
    display: none; }
  .join__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    border-radius: 3px;
    overflow: hidden; }
  .join__top {
    height: 216px;
    background: linear-gradient(rgba(36, 157, 239, 0.85), rgba(36, 157, 239, 0.85)), url("https://matveyan.ru/Themes/Myworld/img/bg/login-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 20px 15px; }
  .join__heading {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 0; }
  .join__text {
    font-size: 16px; }
  .join__bottom {
    background: white;
    padding: 20px 15px; }
  .join__input {
    display: block;
    border: none;
    border-bottom: 1px solid #249def;
    width: 100%;
    height: 35px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 18px; }
    .join__input:focus {
      outline: none; }
  .join__submit {
    margin-top: 15px; }

.event {
  height: 100vh;
  width: 600px;
  background: white;
  z-index: 3; }
  .event__images {
    height: 200px;
    background-image: url("../img/event-image.jpg");
    background-size: cover; }

.header {
  padding: 30px; }
  .header__heading {
    color: #090d15;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0; }
  .header__breadcrumb {
    color: #1c272d;
    margin-top: 15px; }
  .header__go {
    float: right; }

.go {
  display: inline-flex;
  background: #090d15;
  height: 35px;
  border-radius: 3px; }
  .go__left {
    background: #1d2532;
    color: #f34927;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
  .go__right {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px; }

.info {
  padding: 20px 30px;
  color: #7485a2; }
  .info__header {
    display: flex; }
  .info__phone {
    text-decoration: none;
    margin-right: 20px;
    color: #7485a2; }
  .info__website {
    text-decoration: none;
    color: #f14927; }
  .info__icon {
    font-size: 16px;
    margin-right: 10px;
    color: #7485a2; }
    .info__icon_rotate {
      transform: scaleX(-1); }
  .info__description {
    margin-top: 45px;
    line-height: 1.5; }
  .info__additional {
    display: flex;
    justify-content: space-between;
    line-height: 1.5; }

.slideout-panel {
  height: 100%; }

/*# sourceMappingURL=style.css.map */
